<section class="bg-zinc-900 p-20 sm:rounded-xl my-4 text-center">
  <h2 class="text-5xl font-bold my-5">About Us</h2>
  <p class="text-zinc-300">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium,
    ducimus quas? Quis provident quaerat quisquam odit ut, sapiente quo nulla in
    est doloribus, quasi vitae, earum fugiat culpa. Culpa ab rem quia nisi
    laborum consectetur adipisci tenetur possimus velit quisquam.
  </p>
</section>
