---

---
<!-- Import SCSS styles -->
<style lang="scss">
    //
</style>

<header class="bg-zinc-900 flex flex-col md:flex-row p-20 g-3 text-white text-center md:text-left sm:rounded-xl">
  <div class="lg:flex lg:flex-col lg:justify-between">
    <div>
        <h1 class="text-5xl font-bold py-2">Protect Your Password</h1>
        <p class="my-4 text-2xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, quia!</p>
    </div>
    <div>
        <button class="bg-green-500 px-3 py-2 hover:bg-indigo-400 rounded-xl">Start now</button>
    </div>
  </div>
  <img src="img/fingerprint.svg" alt="" class="w-80" />
</header>

