---
import { projects } from "../../data/projects.json";
---

<h2 class="text-left font-bold text-5xl my-20">Projects</h2>
<div class="flex flex-col gap-10">
  {
    projects.map((project) => (
      <div class="flex text-center md:text-left">
        <div class="flex-1 gap-7">
          <h2 class="font-bold text-2xl my-4">{project.title}</h2>
          <p>{project.description}</p>
          <button class=" bg-indigo-500 px-3 py-2 my-3 rounded-lg hover:bg-indigo-400">More info</button>
        </div>
        <div class="flex-1">
          <img src={project.image} alt="" class="w-72 m-auto" />
        </div>
      </div>
    ))
  }
</div>
