---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="m-5">Astro</h1>
  <style lang="scss">
    h1 {;
      color: $main-color;
      background-color: $bg-color;
      &:hover {
        color: $secondary-color;
      }
    }
  </style>
</Layout>
