---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="bg-yellow-400">Astro</h1>
  <style lang="scss">
    h1 {
      @apply text-8xl;
      color: $color;
      &:hover {
        color: blue;
      }
    }
  </style>
</Layout>
