<footer>
    <div>
        <h4>Site maps</h4>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/pricing">Pricing</a>
    </div>
    <div>
        <h4></h4>
    </div>
</footer>